/RollCallSystem/bin
/RollCallSystem/obj/Debug/
/packages
/RollCallSystem/Web.config
/RollCallSystem/Models

.vs/RollCallSystem/v16/.suo

/RollCallSystem/Web.Config

/RollCallSystem/Models/DBEntities.tt

/RollCallSystem/Models/Class.cs

/RollCallSystem/Models/
