/RollCallSystem/bin
/RollCallSystem/obj/Debug/
/packages

.vs/RollCallSystem/v16/.suo

RollCallSystem/Models/FaceTrainedStudent.cs

RollCallSystem/Models/Khoa.cs

RollCallSystem/Models/Model2.Context.cs

RollCallSystem/Models/TeacherInformation.cs

RollCallSystem/Models/StudentMH.cs

RollCallSystem/Models/StudentInformation.cs

RollCallSystem/Models/Status.cs

RollCallSystem/Models/ScheduleTeach.cs

RollCallSystem/Models/RollCallStudent.cs

RollCallSystem/Models/MonHoc.cs

RollCallSystem/Models/Model2.tt

RollCallSystem/Models/Model2.edmx.diagram

RollCallSystem/Models/Model2.edmx

RollCallSystem/Models/Model2.Designer.cs

RollCallSystem/Models/Model2.cs

RollCallSystem/Models/Model2.Context.tt
